{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-console": "off",
    "max-len": ["error", 150],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "max-classes-per-file": "off"
  }
}
